main>.container {
    padding: 60px 15px 0;
}

body {
    background-color: rgba(8, 8, 56, 0.87);
}

body> main {
    margin-top: 20px;
    margin-bottom: 60px;
}


.homeBG {
    width: 100%;
    background: url(/img/tech_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.homeText {
    font-family: 'Charm', cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(195, 255, 0);
}

.minHeight {
    min-height: 80vh;
}

h1 {
    text-align: center;
    font-size: 42pt;
}

p {
    text-align: center;
}